// --- COMMON ---

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: "SourceSansPro", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.container {
  max-width: 1270px;
}

.button {
  display: inline-block;
  border-radius: 35px;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  color: $white;
  background-color: $primary;
  transition: $transition;
  cursor: pointer;

  &:hover {
    background-color: $hover;
  }

  &--no-bg {
    border: 1px solid $primary;
    padding: 10px 45px;
    color: $primary;
    background-color: $white;

    &:hover {
      color: $white;
    }
  }

  &--light {
    border-color: $light;
    color: $light;
  }
}

// --- /COMMON ---

// --- HEADER ---

.header {
  position: relative;
  z-index: 50;
  padding: 15px;
  background-color: $white;

  &__input-wrapper {
    position: relative;
    width: 90%;

    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      width: 20px;
      height: 20px;
      background: url("../img/icons/search.svg") center/cover no-repeat;
      transform: translateY(-50%);
    }

    @media (max-width: $breakpoints-lg) {
      width: 100%;
    }

    @media (max-width: $breakpoints-md) {
      margin-bottom: 10px;
    }
  }

  &__input {
    outline: none;
    border: 1px solid $primary;
    border-radius: 15px;
    padding: 7px 30px 7px 10px;
    width: 100%;

    &::placeholder {
      color: $primary;
    }

    &:hover,
    &:focus {
      border-color: $hover;
    }
  }

  &__phone {
    a {
      font-weight: 600;
      font-size: 24px;
      color: $primary;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__phone-wrapper {
    position: relative;
    margin-left: -15px;
    padding-left: 35px;
    max-width: 240px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 26px;
      height: 26px;
      background: url("../img/icons/phone-header.svg") center/cover no-repeat;
      transform: translateY(-50%);
    }

    @media (max-width: $breakpoints-xl) {
      margin-left: auto;
    }

    @media (max-width: $breakpoints-md) {
      margin: 0 auto;
    }
  }

  &__phone-info {
    color: $light;

    span {
      font-weight: 600;
      color: $primary;
    }
  }

  &__adress-wrapper {
    padding-left: 30px;
  }

  &__adress {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $primary;

    &::before {
      content: "";
      position: absolute;
      left: 15px;
      top: 50%;
      width: 26px;
      height: 26px;
      background: url("../img/icons/location-header.svg") center/cover no-repeat;
      transform: translateY(-50%);
    }

    @media (max-width: $breakpoints-lg) {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  &__socials-link {
    padding-right: 5px;

    &:hover .header__icon {
      fill: $hover;
    }
  }

  &__icon {
    fill: $primary;
    transition: $transition;
  }

  &__button-link {
    &:hover {
      color: $white;
    }
  }

  &__vision-link {
    display: block;

    &:hover .header__icon {
      fill: $hover;
    }
  }

  &__firts-segment,
  &__second-segment {
    @media (max-width: $breakpoints-xl) {
      padding-bottom: 15px;
    }
  }
}

// --- /HEADER ---

// --- BANNER ---

.banner {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px;
  background: url("../img/bg.png");

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -80px;
    z-index: 1;
    width: 360px;
    height: 825px;
    background: url("../img/ice-splash-1.png");

    @media (max-width: $breakpoints-lg) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -80px;
    z-index: 1;
    width: 477px;
    height: 568px;
    background: url("../img/ice-splash-2.png");

    @media (max-width: $breakpoints-lg) {
      display: none;
    }
  }

  &__logos-wrapper {
    @media (max-width: $breakpoints-xl) {
      div {
        margin-bottom: 15px;
      }
    }
  }

  &__logo {
    @media (max-width: $breakpoints-sm) {
      &--1 {
        width: 313px;
        height: 46px;
      }

      &--2 {
        width: 235px;
        height: 69px;
      }

      &--3 {
        width: 258px;
        height: 46px;
      }
    }
  }
}

// --- /BANNER ---

// --- NAV ---

.main-nav {
  position: relative;
  z-index: 50;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: $white;
  background-color: $primary;
}

.nav-link {
  padding: 10px;

  &:hover {
    color: $white;
    background-color: $hover;
  }
}

// --- /NAV ---

// --- SLIDER ---
.carousel-indicators {
  li {
    margin: 0 7px;
    border-radius: 100%;
    width: 19px;
    height: 19px;
    background-color: $white;
    opacity: 0.8;
    cursor: pointer;

    @media (max-width: $breakpoints-md) {
      margin: 0 4px;
      width: 12px;
      height: 12px;
    }
  }

  .active {
    background-color: $primary;
  }

  @media (max-width: $breakpoints-md) {
    margin-bottom: 0;
  }
}

.carousel-control-next,
.carousel-control-prev {
  z-index: 70;
  width: 38%;

  @media (max-width: $breakpoints-md) {
    display: none;
  }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 55px;
  background-image: url("../img/icons/arrow.svg");
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
}

// --- /SLIDER ---

// --- ABOUT ---

.about {
  margin-bottom: 75px;
  padding: 80px 0;
  background: url("../img/bg.png");
}

.about-card {
  position: relative;
  margin: 0 auto 20px;
  max-width: 270px;
  box-shadow: 0 0 13px 1px rgba(34, 60, 80, 0.2);
  background-position: center 20%;
  background-size: 70px;
  background-repeat: no-repeat;
  background-color: $white;

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 50;
  }

  &__bg {
    position: absolute;
    top: 140px;
    fill: #cce8f4;
  }

  &__info-wrapper {
    padding: 150px 50px 70px;
    text-align: center;
  }

  &__title {
    position: relative;
    z-index: 10;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: $primary;
  }

  &:hover .about-card__bg {
    fill: $hover;
  }

  &:hover .about-card__title {
    color: $white;
  }

  &--1 {
    background-image: url("../img/icons/family.svg");

    .about-card__bg {
      transform: translateX(10%);
    }
  }

  &--2 {
    background-image: url("../img/icons/calendar.svg");

    .about-card__bg {
      transform: rotate(-5deg);
    }
  }

  &--3 {
    background-image: url("../img/icons/trophy.svg");

    .about-card__bg {
      transform: rotate(5deg);
    }
  }

  &--4 {
    background-image: url("../img/icons/trainer.svg");

    .about-card__bg {
      transform: scale(-1, 1);
    }
  }
}

// --- /ABOUT ---

// --- NEWS ---

.news {
  margin-bottom: 40px;

  &__title {
    margin-bottom: 48px;
    border-bottom: 1px solid $divider;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 48px;
    color: $black;
  }

  &__news-wrapper {
    margin: 0 auto 30px;

    @media (max-width: $breakpoints-sm) {
      padding: 0;
    }
  }

  &__announcement-wrapper {
    margin: 0 auto 30px;

    @media (max-width: $breakpoints-sm) {
      padding: 0;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
  }
}

.news-article {
  margin-bottom: 40px;
  transition: $transition;

  &__date-day {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 0 15px;
    width: 63px;
    height: 50px;
    font-weight: 900;
    font-style: italic;
    font-size: 30px;
    color: $white;
    background-color: $primary;
  }

  &__date-month {
    font-style: italic;
    color: $light;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: $primary;
  }

  &__title-link {
    &:hover {
      color: $hover;
    }
  }

  &__info-wrapper {
    @media (max-width: $breakpoints-md) {
      margin-top: 15px;
    }
  }

  &:hover .news-article__date-day {
    background-color: $hover;
  }

  &:hover .news-article__title {
    color: $hover;

    .news-article__date-day {
      background: #000;
    }
  }
}

.news-announcement {
  margin: 0 auto 30px;
  width: 284px;
  box-shadow: 0 0 13px 1px rgba(34, 60, 80, 0.2);

  &__img {
    width: 100%;
    height: 169px;
  }

  &__info-wrapper {
    padding: 17px;
    background-color: $bg;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    color: $black;
  }

  &__divider {
    margin-bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
  }

  &__date {
    margin-bottom: 15px;
    color: $primary;
  }
}

// --- /NEWS ---

// --- PARTNERS ---

.partners {
  padding: 30px 0;
  background-color: $bg;

  &__title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    color: $black;

    @media (max-width: $breakpoints-xl) {
      text-align: center;
    }
  }

  &__slider-wrapper {
    @media (max-width: $breakpoints-xl) {
      margin-bottom: 30px;
    }
  }

  &__slider {
    position: relative;
    margin: 0 20px;
    padding: 0 30px;
    min-width: 0;
  }

  &__slider-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }

  &__links-item {
    display: block;
    padding: 20px 0;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: $primary;

    &:hover {
      color: $hover;
    }
  }

  &__links-img {
    display: block;
    margin: 0 auto 8px;
  }
}

// --- СЛАЙДЕР ---

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  margin-top: -10px;
  width: 10px;
  height: 30px;
  font-size: 0;
  opacity: 0.3;
  transition: $transition;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.slick-arrow.slick-prev {
  left: 0;
  outline: none;
  border: 0;
  background: url("../img/icons/prev.svg") 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next {
  right: 0;
  outline: none;
  border: 0;
  background: url("../img/icons/next.svg") 0 0 / 100% no-repeat;
}

// --- /СЛАЙДЕР ---

// --- /PARTNERS ---

// --- FOOTER ---
.footer {
  padding: 35px 0;
  color: $white;
  background-color: $primary;

  &__contacts {
    font-weight: 600;
    font-size: 16px;

    @media (max-width: $breakpoints-lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    margin-bottom: 20px;

    @media (max-width: $breakpoints-sm) {
      width: 277px;
      height: 82px;
    }
  }

  &__phone-icon {
    background-image: url("../img/icons/phone-footer.svg");
  }

  &__adress-icon {
    background-image: url("../img/icons/location-footer.svg");
  }

  &__admin {
    font-weight: 400;
    font-size: 14px;
  }

  &__links-list {
    list-style: disc;
    margin-top: 20px;
  }

  &__links-item {
    padding-bottom: 8px;
  }

  &__link {
    text-decoration: underline;
    transition: $transition;

    &:hover {
      text-decoration: underline;
      color: #80cff1;
    }
  }

  &__links-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 30px;

    @media (max-width: $breakpoints-lg) {
      justify-content: center;
    }
  }

  &__other-wrapper {
    @media (max-width: $breakpoints-lg) {
      display: flex;
      margin-top: 20px;
    }

    @media (max-width: $breakpoints-sm) {
      flex-wrap: wrap;
      margin-top: 10px;
    }
  }

  &__icon {
    fill: $white;
  }

  &__icon-link {
    & + & {
      margin-left: 10px;
    }
  }

  &__stat {
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
  }

  &__design-by {
    display: flex;
    margin-left: auto;
    width: 170px;

    p {
      text-align: right;
    }
  }

  &__phone-icon,
  &__adress-icon {
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
