// --- COMMON ---
$transition: 0.3s;

// --- /COMMON ---

// --- COLORS ---
$black: #000;
$white: #fff;
$primary: #0082c8;
$secondary: #333;
$light: #818181;
$hover: #005481;
$divider: #c4c4c4;
$bg: #f9f9f9;

// --- /COLORS ---

// === BREAKPOINTS ===
// $breakpoints-xs: 575px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

// $breakpoints-xxl: 1700px;
